<%= render 'shared/consent_banner', link: '/privacy_policy', target: '_blank' %>

<footer class="footer__section">
  <div class="container">
    <%= render 'newsletters/new' %>
    <div class="main__footer">
      <div class="row ">
        <div class="col-lg-3 col-md-3">
          <div class="footer__widget">
            <img class="main__logo--img" src="/assets/logo_beroot_black.png" alt="logo-img" style="float: left;">
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <ul class="footer__widget--menu footer__widget--inner">
            <li class="footer__widget--menu__list footer__widget--menu__text">Контакты:</li>
            <li class="footer__widget--menu__list footer__widget--menu__text">8 (800) 250-39-73</li>
            <br>
            <li class="footer__widget--menu__list footer__widget--menu__text">Адрес:</li>
            <li class="footer__widget--menu__list footer__widget--menu__text" style="line-height: 1.5rem;">г. Краснодар ул. Дзержинского<br>д. 40, литер А</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-3">
          <ul class="footer__widget--menu footer__widget--inner">
            <li class="footer__widget--menu__list">
              <a class="footer__widget--menu__text" href="<%= about_path %>">О компании</a>
            </li>
            <li class="footer__widget--menu__list">
              <a class="footer__widget--menu__text" href="<%= about_path %>">Услуги</a>
            </li>
            <li class="footer__widget--menu__list">
              <a class="footer__widget--menu__text" href="<%= about_path %>">Каталог</a>
            </li>
            <li class="footer__widget--menu__list">
              <a class="footer__widget--menu__text" href="<%= privacy_policy_path %>">Полезная информация</a>
            </li>
            <li class="footer__widget--menu__list">
              <a class="footer__widget--menu__text" href="<%= pay_path %>">Оплата</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-3">
          <ul class="footer__widget--menu footer__widget--inner">
            <li class="footer__widget--menu__list footer__widget--menu__text">г. Краснодар</li>
            <li class="footer__widget--menu__list footer__widget--menu__text">г. Ростов-на-Дону</li>
            <li class="footer__widget--menu__list footer__widget--menu__text">г. Сочи</li>
            <li class="footer__widget--menu__list footer__widget--menu__text">г. Новороссийск</li>
            <li class="footer__widget--menu__list footer__widget--menu__text">г. Ставрополь</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom--inenr d-flex justify-content-between align-items-center">
        <div class="footer__logo">
        </div>
        <p class="copyright__content">
          © 2024 Создано с &#10084;&#65039; HTC
        </p>
        <div class="footer__payment">
        </div>
      </div>
    </div>
  </div>
</footer>
