<%= render 'shared/consent_banner', link: '/privacy_policy', target: '_blank' %>

<footer class="footer__section footer__bg">
  <div class="container">
    <%= render 'newsletters/new' %>
    <div class="main__footer">
      <div class="row ">
        <div class="col-lg-4 col-md-10">
          <div class="footer__widget">
            <h2 class="footer__widget--title">О нас <button class="footer__widget--button" aria-label="footer widget button"></button>
              <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
              </svg>
            </h2>
            <div class="footer__widget--inner">
              <p class="footer__widget--desc">
                Наша компания - специализируется на поставке широкого ассортимента
                запчастей для тракторов, сельскохозяйственной и коммунальной техники, а также имеет большое
                разнообразие сопутствующих товаров и многое другое.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="footer__widget">
            <h2 class="footer__widget--title ">Информация <button class="footer__widget--button" aria-label="footer widget button"></button>
              <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
              </svg>
            </h2>
            <ul class="footer__widget--menu footer__widget--inner">
              <li class="footer__widget--menu__list"><a class="footer__widget--menu__text" href="<%= contact_path %>">Контакты</a></li>
              <li class="footer__widget--menu__list"><a class="footer__widget--menu__text" href="<%= about_path %>">О нас</a></li>
              <li class="footer__widget--menu__list"><a class="footer__widget--menu__text" href="<%= privacy_policy_path %>">Политика конфиденциальности</a></li>
              <li class="footer__widget--menu__list"><a class="footer__widget--menu__text" href="<%= pay_path %>">Оплата</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom--inenr d-flex justify-content-between align-items-center">
        <div class="footer__logo">
          <a class="footer__logo--link" href="/">
            <img src="/assets/logo_AgroMaster.png" alt="logo-img" style="width: 165px; float: left;">
<!--            <span style="float: left; line-height: 55px; font-size: 28px; padding-left: 10px; color: white;">АгроМастер</span>-->
          </a>
        </div>
        <p class="copyright__content">
          <span class="text__secondary">© 2024</span> Создано с &#10084;&#65039; <a class="copyright__content--link" target="_blank" href="https://dsml.ru">DSML</a>
        </p>
        <div class="footer__payment">
        </div>
      </div>
    </div>
  </div>
</footer>
