<header class="header__section mb-20">
  <div class="main__header header__sticky">
    <div class="container">
      <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
        <div class="offcanvas__header--menu__open ">
          <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg" viewBox="0 0 512 512">
              <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/>
            </svg>
            <span class="visually-hidden">Открыть меню</span>
          </a>
        </div>
        <div class="main__logo">
          <a class="main__logo--link" href="/">
            <img class="main__logo--img" src="/assets/agro_logo.png" alt="logo-img" style="width: 55px; float: left;">
            <span style="float: left; line-height: 60px; font-size: 28px; padding-left: 10px;">АгроМастер</span>
          </a>
        </div>
        <div class="header__search--widget d-none d-lg-block header__sticky--none">
          <%= render 'shared/search' %>
        </div>

        <div class="header__menu d-none d-lg-block header__sticky--block">
          <nav class="header__menu--navigation">
            <ul class="header__menu--wrapper d-flex">
              <li class="header__menu--items">
                <a class="header__menu--link active" href="<%= root_path %>">Каталог
                  <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                    <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                  </svg>
                </a>
                <ul class="header__sub--menu">
                  <% @main_categories.each do |category| %>
                    <li class="header__sub--menu__items">
                      <%= link_to category_path(category), class: "header__sub--menu__link" do %>
                        <%= category.name %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>

              <li class="header__menu--items mega__menu--items">
                <%= link_to 'О компании', about_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items">
                <%= link_to 'Доставка', delivery_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items">
                <%= link_to 'Оплата', pay_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items">
                <%= link_to 'Контакты', contact_path, class: "header__menu--link" %>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header__account header__sticky--none">
          <% total_count = 0.0 %>
          <ul class="header__account--wrapper d-flex align-items-center">
            <li class="header__account--items header__minicart--items">
              <a href="/cart" id="cartoooo" class="header__account--btn minicart__open--btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22.706" height="22.534" viewBox="0 0 14.706 13.534">
                  <g transform="translate(0 0)">
                    <g>
                      <path data-name="Path 16787" d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z" transform="translate(0 -463.248)" fill="currentColor"/>
                      <path data-name="Path 16788" d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z" transform="translate(-1.191 -466.622)" fill="currentColor"/>
                      <path data-name="Path 16789" d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z" transform="translate(-2.875 -466.622)" fill="currentColor"/>
                    </g>
                  </g>
                </svg>
                <span class="items__count" id="cart-count">
                  <%= turbo_frame_tag do %>
                    <%= @cart.orderables.sum(:quantity) %>
                    <%= total_count = @cart.orderables.map.sum { |pr| Product.find(pr.product_id).price.to_f * pr.quantity.to_f } %>
                    <%= total_count %>
                  <% end %>
                </span>
                <span class="minicart__btn--text">Корзина <br> <span class="minicart__btn--text__price">&#x20BD;<%= total_count %></span></span>
              </a>
            </li>
          </ul>
        </div>

        <div class="header__account header__sticky--block">
          <ul class="header__account--wrapper d-flex align-items-center">
            <li class="header__account--items header__minicart--items">
              <a href="/cart" id="cartoooo" class="header__account--btn minicart__open--btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22.706" height="22.534" viewBox="0 0 14.706 13.534">
                  <g transform="translate(0 0)">
                    <g>
                      <path data-name="Path 16787" d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z" transform="translate(0 -463.248)" fill="currentColor"/>
                      <path data-name="Path 16788" d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z" transform="translate(-1.191 -466.622)" fill="currentColor"/>
                      <path data-name="Path 16789" d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z" transform="translate(-2.875 -466.622)" fill="currentColor"/>
                    </g>
                  </g>
                </svg>
                <span class="items__count" id="cart-count">
                  <%= turbo_frame_tag do %>
                    <%= @cart.orderables.sum(:quantity) %>
                  <% end %>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom bg__primary">
    <div class="container">
      <div class="header__bottom--inner position__relative d-flex align-items-center">
        <div class="categories__menu mobile-v-none">
          <div class="categories__menu--header bg__secondary text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#categoriesAccordion">
            <svg class="categories__list--icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="13" height="1.5" fill="currentColor"/>
              <rect y="4.44434" width="18" height="1.5" fill="currentColor"/>
              <rect y="8.88892" width="15" height="1.5" fill="currentColor"/>
              <rect y="13.3333" width="17" height="1.5" fill="currentColor"/>
            </svg>

            <span class="categories__menu--title">Все категории </span>
            <svg class="categories__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
              <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"/>
            </svg>
          </div>
          <div class="dropdown__categories--menu border-radius-5 active collapse" id="categoriesAccordion">
            <ul class="d-none d-lg-block">
              <% @main_categories.each do |category| %>
                <% child_categories = Category.where(parent_id: category.category_id) %>
                <li class="categories__menu--items">
                  <%= link_to category_path(category), class: "categories__menu--link" do %>
                    <%= category.name %>

                    <% if child_categories.size > 0 %>
                      <svg class="categories__menu--right__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="17.007" height="16.831" viewBox="0 0 512 512">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"></path>
                      </svg>
                    <% end %>
                  <% end %>
                  <% if child_categories.size > 0 %>
                    <ul class="categories__submenu border-radius-10 d-flex justify-content-between">
                      <% child_categories.each do |sub_category| %>
                        <li class="categories__submenu--items">
                          <%= link_to sub_category.name, category_path(sub_category), class: 'categories__submenu--child__items--link' %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="categories__menu mobile-v-block">
          <div class="categories__menu--header bg__secondary text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#categoriesAccordion2">
            <svg class="categories__list--icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="13" height="1.5" fill="currentColor"/>
              <rect y="4.44434" width="18" height="1.5" fill="currentColor"/>
              <rect y="8.88892" width="15" height="1.5" fill="currentColor"/>
              <rect y="13.3333" width="17" height="1.5" fill="currentColor"/>
            </svg>

            <span class="categories__menu--title">все категории</span>
            <svg class="categories__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
              <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"/>
            </svg>
          </div>
          <div class="dropdown__categories--menu border-radius-5 active collapse" id="categoriesAccordion2">
            <nav class="category__mobile--menu">
              <ul class="category__mobile--menu_ul">
                <li class="categories__menu--items">
                  <a class="categories__menu--link" href="shop.html">
                    <svg class="categories__menu--svgicon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                      <line x1="8" y1="21" x2="16" y2="21"></line>
                      <line x1="12" y1="17" x2="12" y2="21"></line>
                    </svg>
                    Lighting
                  </a>
                </li>
                <li class="categories__menu--items">
                  <a class="categories__menu--link" href="shop.html">
                    <svg class="categories__menu--svgicon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <polyline points="6 9 6 2 18 2 18 9"></polyline>
                      <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
                      <rect x="6" y="14" width="12" height="8"></rect>
                    </svg>
                    Smart Devices
                  </a>
                  <ul class="category__sub--menu">
                    <li class="categories__submenu--items">
                      <a class="categories__submenu--items__text" href="shop.html">Body Parts</a>
                      <ul class="category__sub--menu">
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Brake Calipers </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Oil and Vinegar </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Engine Oil </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Oil Filters </a></li>
                      </ul>
                    </li>
                    <li class="categories__submenu--items">
                      <a class="categories__submenu--items__text" href="shop.html">Interior Parts</a>
                      <ul class="category__sub--menu">
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Air Boxes </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Tail Lights </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Mobile Electronic </a>
                        </li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Car Covers </a></li>
                      </ul>
                    </li>
                    <li class="categories__submenu--items">
                      <a class="categories__submenu--items__text" href="shop.html">Engine & Drivetrain</a>
                      <ul class="category__sub--menu">
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Cabin Air Filters </a>
                        </li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Pistons liners </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Bread and Juice </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Paintworks </a></li>
                      </ul>
                    </li>
                    <li class="categories__submenu--items">
                      <a class="categories__submenu--items__text" href="shop.html">Cargo Accessories</a>
                      <ul class="category__sub--menu">
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Body Parts </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Engine Parts</a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Tires & Wheels </a></li>
                        <li class="categories__submenu--child__items">
                          <a class="categories__submenu--child__items--link" href="shop.html">Repair Parts </a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="header__right--area d-flex justify-content-between align-items-center">
          <div class="header__menu">
            <nav class="header__menu--navigation">
              <ul class="header__menu--wrapper d-flex">
                <!--                <li class="header__menu--items">-->
                <!--                  <a class="header__menu--link text-white active" href="index.html">Каталог-->
                <!--                    <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">-->
                <!--                      <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>-->
                <!--                    </svg>-->
                <!--                  </a>-->
                <!--                  <ul class="header__sub--menu">-->
                <!--                    <li class="header__sub--menu__items">-->
                <!--                      <a href="index.html" class="header__sub--menu__link">Категория 1</a>-->
                <!--                    </li>-->
                <!--                    <li class="header__sub--menu__items">-->
                <!--                      <a href="index-2.html" class="header__sub--menu__link">Категория 1</a>-->
                <!--                    </li>-->
                <!--                    <li class="header__sub--menu__items">-->
                <!--                      <a href="index-3.html" class="header__sub--menu__link">Категория 1</a>-->
                <!--                    </li>-->
                <!--                    <li class="header__sub--menu__items">-->
                <!--                      <a href="index-5.html" class="header__sub--menu__link">Категория 1</a>-->
                <!--                    </li>-->
                <!--                  </ul>-->
                <!--                </li>-->
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'О компании', about_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items">
                  <%= link_to 'Доставка', delivery_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items">
                  <%= link_to 'Оплата', pay_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items">
                  <%= link_to 'Контакты', contact_path, class: "header__menu--link text-white" %>
                </li>
              </ul>
            </nav>
          </div>
          <div class="language__currency d-none d-lg-block">
            <ul class="d-flex align-items-center">
              <li class="language__currency--list">
                <a class="account__currency--link" href="javascript:void(0)">
                  <span>RUB</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 6" width="40" height="25" data-ember-extension="1">
                    <rect fill="#fff" width="9" height="3"/>
                    <rect fill="#d52b1e" y="3" width="9" height="3"/>
                    <rect fill="#0039a6" y="2" width="9" height="2"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Offcanvas header menu -->
  <div class="offcanvas__header">
    <div class="offcanvas__inner">
      <div class="offcanvas__logo">
        <a class="offcanvas__logo_link" href="/">
          <img src="/assets/logo/nav-log.webp" alt="Grocee Logo" width="158" height="36">
        </a>
        <button class="offcanvas__close--btn" data-offcanvas>close</button>
      </div>
      <nav class="offcanvas__menu">
        <ul class="offcanvas__menu_ul">
          <li class="offcanvas__menu_li">
            <a class="offcanvas__menu_item" href="index.html">Home</a>
            <ul class="offcanvas__sub_menu">
              <li class="offcanvas__sub_menu_li"><a href="index.html" class="offcanvas__sub_menu_item">Home One</a></li>
              <li class="offcanvas__sub_menu_li"><a href="index-2.html" class="offcanvas__sub_menu_item">Home Two</a>
              </li>
              <li class="offcanvas__sub_menu_li"><a href="index-3.html" class="offcanvas__sub_menu_item">Home Three</a>
              </li>
              <li class="offcanvas__sub_menu_li"><a href="index-4.html" class="offcanvas__sub_menu_item">Home Four</a>
              </li>
              <li class="offcanvas__sub_menu_li"><a href="index-5.html" class="offcanvas__sub_menu_item">Home Five</a>
              </li>
            </ul>
          </li>
          <li class="offcanvas__menu_li">
            <a class="offcanvas__menu_item" href="shop.html">Shop</a>
            <ul class="offcanvas__sub_menu">
              <li class="offcanvas__sub_menu_li">
                <a href="#" class="offcanvas__sub_menu_item">Column One</a>
                <ul class="offcanvas__sub_menu">
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="shop.html">Shop Left Sidebar</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="shop-grid.html">Shop Grid</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="shop-grid-list.html">Shop Grid List</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="shop-list.html">Shop List</a></li>
                </ul>
              </li>
              <li class="offcanvas__sub_menu_li">
                <a href="#" class="offcanvas__sub_menu_item">Column Two</a>
                <ul class="offcanvas__sub_menu">
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="product-details.html">Детали</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="product-video.html">Видео</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="product-details.html">Варианты</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="product-left-sidebar.html">Product Left Sidebar</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="product-gallery.html">Галерея</a></li>
                </ul>
              </li>
              <li class="offcanvas__sub_menu_li">
                <a href="#" class="offcanvas__sub_menu_item">Column Three</a>
                <ul class="offcanvas__sub_menu">
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="my-account.html">Мой профиль</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="my-account-2.html">Мой профиль</a></li>
                  <li class="offcanvas__sub_menu_li"><a class="offcanvas__sub_menu_item" href="404.html">404 Page</a>
                  </li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="login.html">Войти</a></li>
                  <li class="offcanvas__sub_menu_li"><a class="offcanvas__sub_menu_item" href="faq.html">Faq Page</a>
                  </li>
                </ul>
              </li>
              <li class="offcanvas__sub_menu_li">
                <a href="#" class="offcanvas__sub_menu_item">Column Three</a>
                <ul class="offcanvas__sub_menu">
                  <li class="offcanvas__sub_menu_li"><a class="offcanvas__sub_menu_item" href="about.html">О нас</a>
                  </li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="contact.html">Contact Us</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="portfolio.html">Portfolio</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="compare.html">Compare Pages</a></li>
                  <li class="offcanvas__sub_menu_li">
                    <a class="offcanvas__sub_menu_item" href="checkout.html">Checkout page</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="offcanvas__menu_li">
            <a class="offcanvas__menu_item" href="blog.html">Blog</a>
            <ul class="offcanvas__sub_menu">
              <li class="offcanvas__sub_menu_li"><a href="blog.html" class="offcanvas__sub_menu_item">Blog Grid</a></li>
              <li class="offcanvas__sub_menu_li">
                <a href="blog-details.html" class="offcanvas__sub_menu_item">Blog Details</a></li>
              <li class="offcanvas__sub_menu_li">
                <a href="blog-left-sidebar.html" class="offcanvas__sub_menu_item">Blog Left Sidebar</a></li>
              <li class="offcanvas__sub_menu_li">
                <a href="blog-right-sidebar.html" class="offcanvas__sub_menu_item">Blog Right Sidebar</a></li>
            </ul>
          </li>
          <li class="offcanvas__menu_li">
            <a class="offcanvas__menu_item" href="#">Pages</a>
            <ul class="offcanvas__sub_menu">
              <li class="offcanvas__sub_menu_li"><a href="about.html" class="offcanvas__sub_menu_item">О нас</a></li>
              <li class="offcanvas__sub_menu_li"><a href="contact.html" class="offcanvas__sub_menu_item">Contact Us</a>
              </li>
              <li class="offcanvas__sub_menu_li"><a href="cart.html" class="offcanvas__sub_menu_item">Cart Page</a></li>
              <li class="offcanvas__sub_menu_li">
                <a href="portfolio.html" class="offcanvas__sub_menu_item">Portfolio Page</a></li>
              <li class="offcanvas__sub_menu_li"><a href="login.html" class="offcanvas__sub_menu_item">Login Page</a>
              </li>
              <li class="offcanvas__sub_menu_li"><a href="404.html" class="offcanvas__sub_menu_item">Error Page</a></li>
            </ul>
          </li>
          <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="about.html">About</a></li>
          <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="contact.html">Contact</a></li>
        </ul>
        <div class="offcanvas__account--items">
          <a class="offcanvas__account--items__btn d-flex align-items-center" href="login.html">
                            <span class="offcanvas__account--items__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.51" height="19.443" viewBox="0 0 512 512"><path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                            </span>
            <span class="offcanvas__account--items__label">Login / Register</span>
          </a>
        </div>
        <div class="offcanvas__account--wrapper d-flex">
          <div class="offcanvas__account--currency">
            <a class="offcanvas__account--currency__menu d-flex align-items-center text-black" href="javascript:void(0)">
              <img src="/assets/icon/usd-icon.webp" alt="currency">
              <span>USD</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="9.797" height="6.05" viewBox="0 0 9.797 6.05">
                <path d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
              </svg>
            </a>
            <div class="offcanvas__account--currency__submenu">
              <ul>
                <li class="currency__items"><a class="currency__text" href="#">CAD</a></li>
                <li class="currency__items"><a class="currency__text" href="#">CNY</a></li>
                <li class="currency__items"><a class="currency__text" href="#">EUR</a></li>
                <li class="currency__items"><a class="currency__text" href="#">GBP</a></li>
              </ul>
            </div>
          </div>
          <div class="language__currency--list">
            <a class="offcanvas__language--switcher" href="javascript:void(0)">
              <span>English</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="9.797" height="6.05" viewBox="0 0 9.797 6.05">
                <path d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
              </svg>
            </a>
            <div class="offcanvas__dropdown--language">
              <ul>
                <li class="language__items"><a class="language__text" href="#">France</a></li>
                <li class="language__items"><a class="language__text" href="#">Russia</a></li>
                <li class="language__items"><a class="language__text" href="#">Spanish</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- End Offcanvas header menu -->

  <!-- Start offCanvas minicart -->
  <div class="offCanvas__minicart">
    <div class="minicart__header ">
      <div class="minicart__header--top d-flex justify-content-between align-items-center">
        <h3 class="minicart__title"> Shopping Cart</h3>
        <button class="minicart__close--btn" aria-label="minicart close btn" data-offcanvas>
          <svg class="minicart__close--icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/>
          </svg>
        </button>
      </div>
      <p class="minicart__header--desc">The organic foods products are limited</p>
    </div>
    <div class="minicart__product">
      <div class="minicart__product--items d-flex">
        <div class="minicart__thumb">
          <a href="product-details.html"><img src="/assets/product/small-product/product1.webp" alt="prduct-img"></a>
        </div>
        <div class="minicart__text">
          <h4 class="minicart__subtitle"><a href="product-details.html">Car & Motorbike Care.</a></h4>
          <span class="color__variant"><b>Color:</b> Beige</span>
          <div class="minicart__price">
            <span class="minicart__current--price">$125.00</span>
            <span class="minicart__old--price">$140.00</span>
          </div>
          <div class="minicart__text--footer d-flex align-items-center">
            <div class="quantity__box minicart__quantity">
              <button type="button" class="quantity__value decrease" aria-label="quantity value" value="Decrease Value">-</button>
              <label>
                <input type="number" class="quantity__number" value="1" data-counter/>
              </label>
              <button type="button" class="quantity__value increase" aria-label="quantity value" value="Increase Value">+</button>
            </div>
            <button class="minicart__product--remove" type="button">Remove</button>
          </div>
        </div>
      </div>
      <div class="minicart__product--items d-flex">
        <div class="minicart__thumb">
          <a href="product-details.html"><img src="/assets/product/small-product/product2.webp" alt="prduct-img"></a>
        </div>
        <div class="minicart__text">
          <h4 class="minicart__subtitle"><a href="product-details.html">Engine And Drivetrain.</a></h4>
          <span class="color__variant"><b>Color:</b> Green</span>
          <div class="minicart__price">
            <span class="minicart__current--price">$115.00</span>
            <span class="minicart__old--price">$130.00</span>
          </div>
          <div class="minicart__text--footer d-flex align-items-center">
            <div class="quantity__box minicart__quantity">
              <button type="button" class="quantity__value decrease" aria-label="quantity value" value="Decrease Value">-</button>
              <label>
                <input type="number" class="quantity__number" value="1" data-counter/>
              </label>
              <button type="button" class="quantity__value increase" aria-label="quantity value" value="Increase Value">+</button>
            </div>
            <button class="minicart__product--remove" type="button">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="minicart__amount">
      <div class="minicart__amount_list d-flex justify-content-between">
        <span>Sub Total:</span>
        <span><b>$240.00</b></span>
      </div>
      <div class="minicart__amount_list d-flex justify-content-between">
        <span>Total:</span>
        <span><b>$240.00</b></span>
      </div>
    </div>
    <div class="minicart__conditions text-center">
      <input class="minicart__conditions--input" id="accept" type="checkbox">
      <label class="minicart__conditions--label" for="accept">I agree with the
        <a class="minicart__conditions--link" href="privacy-policy.html">Политика конфиденциальности</a></label>
    </div>
    <div class="minicart__button d-flex justify-content-center">
      <a class="primary__btn minicart__button--link" href="cart.html">View cart</a>
      <a class="primary__btn minicart__button--link" href="checkout.html">Checkout</a>
    </div>
  </div>
  <!-- End offCanvas minicart -->

  <!-- Start serch box area -->
  <div class="predictive__search--box ">
    <div class="predictive__search--box__inner">
      <h2 class="predictive__search--title">Поиск Товаров</h2>
      <form class="predictive__search--form" action="#">
        <label>
          <input class="predictive__search--input" placeholder="Поиск Here" type="text">
        </label>
        <button class="predictive__search--button text-white" aria-label="search button">
          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="30.51" height="25.443" viewBox="0 0 512 512">
            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/>
          </svg>
        </button>
      </form>
    </div>
    <button class="predictive__search--close__btn" aria-label="search close" data-offcanvas>
      <svg class="predictive__search--close__icon" xmlns="http://www.w3.org/2000/svg" width="40.51" height="30.443" viewBox="0 0 512 512">
        <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/>
      </svg>
    </button>
  </div>
  <!-- End serch box area -->

</header>



























<!--<script>-->
<!--    function highlightActiveNavLink() {-->
<!--        const navLinks = document.querySelectorAll('.navbar-lewagon .nav-link');-->
<!--        const currentUrl = window.location.pathname;-->

<!--        navLinks.forEach(link => {-->
<!--            if (link.getAttribute('href') === currentUrl) {-->
<!--                link.classList.add('active');-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--    window.addEventListener('load', highlightActiveNavLink);-->
<!--</script>-->
