<header class="header__section mb-20">
  <div class="main__header header__sticky">
    <div class="container">
      <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
        <div class="offcanvas__header--menu__open ">
          <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg" viewBox="0 0 512 512">
              <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/>
            </svg>
            <span class="visually-hidden">Открыть меню</span>
          </a>
        </div>
        <div class="main__logo">
          <a class="main__logo--link" href="/">
            <img class="main__logo--img" src="/assets/logo_beroot_black.png" alt="logo-img" style="float: left;">
<!--            <span style="float: left; line-height: 60px; font-size: 28px; padding-left: 10px;">BEROOT</span>-->
          </a>
        </div>
        <div class="header__search--widget d-none d-lg-block header__sticky--none">
          <%= render 'shared/search' %>
        </div>

        <div class="header__menu d-none d-lg-block header__sticky--block">
          <nav class="header__menu--navigation">
            <ul class="header__menu--wrapper d-flex">
              <li class="header__menu--items mega__menu--items">
                <%= link_to 'О компании', about_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items mega__menu--items">
                <%= link_to 'Услуги', about_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items mega__menu--items">
                <%= link_to 'Каталог', about_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items mega__menu--items">
                <%= link_to 'Полезная информация', delivery_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items mega__menu--items">
                <%= link_to 'Контакты', contact_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items mega__menu--items">
                <%= link_to 'Клиентам', pay_path, class: "header__menu--link" %>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header__account header__sticky">
          <ul class="header__account--wrapper d-flex align-items-center">
            <li class="header__account--items header__minicart--items">
              <a href="/cart" id="cartoooo" class="header__account--btn minicart__open--btn">
                <%= render 'shared/cart_count' %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom bg__green">
    <div class="container">
      <div class="header__bottom--inner position__relative d-flex align-items-center">
        <div class="header__right--area d-flex justify-content-between align-items-center">
          <div class="header__menu">
            <nav class="header__menu--navigation">
              <ul class="header__menu--wrapper d-flex">
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'О компании', about_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'Услуги', about_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'Каталог', about_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'Полезная информация', delivery_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'Контакты', contact_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'Клиентам', pay_path, class: "header__menu--link text-white" %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Offcanvas header menu -->
  <div class="offcanvas__header">
    <div class="offcanvas__inner">
      <div class="offcanvas__logo">
        <a class="offcanvas__logo_link" href="/">
          <img src="/assets/logo_beroot_black.png" alt="beroot" height="36">
        </a>
        <button class="offcanvas__close--btn" data-offcanvas>закрыть</button>
      </div>
      <nav class="offcanvas__menu">
        <ul class="offcanvas__menu_ul">
          <li class="offcanvas__menu_li">
            <%= link_to 'О компании', about_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Услуги', about_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Каталог', about_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Полезная информация', delivery_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Контакты', contact_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Клиентам', pay_path, class: "offcanvas__menu_item" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- End Offcanvas header menu -->

</header>
