<header class="header__section mb-20">
  <div class="main__header header__sticky">
    <div class="container">
      <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
        <div class="offcanvas__header--menu__open ">
          <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg" viewBox="0 0 512 512">
              <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/>
            </svg>
            <span class="visually-hidden">Открыть меню</span>
          </a>
        </div>
        <div class="main__logo">
          <a class="main__logo--link" href="/">
            <img class="main__logo--img" src="/assets/logo_AgroMaster_black.png" alt="logo-img" style="float: left;">
<!--            <span style="float: left; line-height: 60px; font-size: 28px; padding-left: 10px;">АгроМастер</span>-->
          </a>
        </div>
        <div class="header__search--widget d-none d-lg-block header__sticky--none">
          <%= render 'shared/search' %>
        </div>

        <div class="header__menu d-none d-lg-block header__sticky--block">
          <nav class="header__menu--navigation">
            <ul class="header__menu--wrapper d-flex">
              <li class="header__menu--items">
                <a class="header__menu--link active" href="<%= root_path %>">Каталог
                  <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                    <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                  </svg>
                </a>
                <ul class="header__sub--menu">
                  <% @main_categories.each do |category| %>
                    <li class="header__sub--menu__items">
                      <%= link_to category_path(category), class: "header__sub--menu__link" do %>
                        <%= category.name %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>

              <li class="header__menu--items mega__menu--items">
                <%= link_to 'О компании', about_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items">
                <%= link_to 'Доставка', delivery_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items">
                <%= link_to 'Оплата', pay_path, class: "header__menu--link" %>
              </li>
              <li class="header__menu--items">
                <%= link_to 'Контакты', contact_path, class: "header__menu--link" %>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header__account header__sticky">
          <ul class="header__account--wrapper d-flex align-items-center">
            <li class="header__account--items header__minicart--items">
              <a href="/cart" id="cartoooo" class="header__account--btn minicart__open--btn">
                <%= render 'shared/cart_count' %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom bg__primary">
    <div class="container">
      <div class="header__bottom--inner position__relative d-flex align-items-center">
        <div class="categories__menu mobile-v-none">
          <div class="categories__menu--header bg__secondary text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#categoriesAccordion">
            <svg class="categories__list--icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="13" height="1.5" fill="currentColor"/>
              <rect y="4.44434" width="18" height="1.5" fill="currentColor"/>
              <rect y="8.88892" width="15" height="1.5" fill="currentColor"/>
              <rect y="13.3333" width="17" height="1.5" fill="currentColor"/>
            </svg>

            <span class="categories__menu--title">Все категории </span>
            <svg class="categories__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
              <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"/>
            </svg>
          </div>
          <div class="dropdown__categories--menu border-radius-5 active collapse" id="categoriesAccordion">
            <ul class="d-none d-lg-block">
              <% @main_categories.each do |category| %>
                <% child_categories = Category.where(parent_id: category.category_id) %>
                <li class="categories__menu--items">
                  <%= link_to category_path(category), class: "categories__menu--link" do %>
                    <%= category.name %>

                    <% if child_categories.size > 0 %>
                      <svg class="categories__menu--right__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="17.007" height="16.831" viewBox="0 0 512 512">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"></path>
                      </svg>
                    <% end %>
                  <% end %>
                  <% if child_categories.size > 0 %>
                    <ul class="categories__submenu border-radius-10 d-flex justify-content-between">
                      <% child_categories.each do |sub_category| %>
                        <li class="categories__submenu--items">
                          <%= link_to sub_category.name, category_path(sub_category), class: 'categories__submenu--child__items--link' %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="categories__menu mobile-v-block">
          <div class="categories__menu--header bg__secondary text-white d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#categoriesAccordion2">
            <svg class="categories__list--icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="13" height="1.5" fill="currentColor"/>
              <rect y="4.44434" width="18" height="1.5" fill="currentColor"/>
              <rect y="8.88892" width="15" height="1.5" fill="currentColor"/>
              <rect y="13.3333" width="17" height="1.5" fill="currentColor"/>
            </svg>

            <span class="categories__menu--title">все категории</span>
            <svg class="categories__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
              <path d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"/>
            </svg>
          </div>

          <div class="dropdown__categories--menu border-radius-5 active collapse" id="categoriesAccordion2">
            <nav class="category__mobile--menu">
              <ul class="category__mobile--menu_ul">
                <% @main_categories.each do |category| %>
                  <% child_categories = Category.where(parent_id: category.category_id) %>
                  <li class="categories__menu--items">
                    <%= link_to category_path(category), class: "categories__menu--link" do %>
                      <%= category.name %>
                    <% end %>
                    <% if child_categories.size > 0 %>
                      <ul class="category__sub--menu">
                        <% child_categories.each do |sub_category| %>
                          <li class="categories__submenu--items">
                            <%= link_to sub_category.name, category_path(sub_category), class: 'categories__submenu--items__text' %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>

        <div class="header__right--area d-flex justify-content-between align-items-center">
          <div class="header__menu">
            <nav class="header__menu--navigation">
              <ul class="header__menu--wrapper d-flex">
                <li class="header__menu--items mega__menu--items">
                  <%= link_to 'О компании', about_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items">
                  <%= link_to 'Доставка', delivery_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items">
                  <%= link_to 'Оплата', pay_path, class: "header__menu--link text-white" %>
                </li>
                <li class="header__menu--items">
                  <%= link_to 'Контакты', contact_path, class: "header__menu--link text-white" %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start Offcanvas header menu -->
  <div class="offcanvas__header">
    <div class="offcanvas__inner">
      <div class="offcanvas__logo">
        <a class="offcanvas__logo_link" href="/">
          <img src="/assets/logo_AgroMaster_black.png" alt="AgroMaster" height="36">
        </a>
        <button class="offcanvas__close--btn" data-offcanvas>закрыть</button>
      </div>
      <nav class="offcanvas__menu">
        <ul class="offcanvas__menu_ul">
          <li class="offcanvas__menu_li">
            <a class="offcanvas__menu_item" href="<%= root_path %>">Каталог</a>
            <ul class="offcanvas__sub_menu">
              <% @main_categories.each do |category| %>
                <li class="offcanvas__sub_menu_li">
                  <%= link_to category_path(category), class: "offcanvas__sub_menu_item" do %>
                    <%= category.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="offcanvas__menu_li">
            <%= link_to 'О компании', about_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Доставка', delivery_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Оплата', pay_path, class: "offcanvas__menu_item" %>
          </li>
          <li class="offcanvas__menu_li">
            <%= link_to 'Контакты', contact_path, class: "offcanvas__menu_item" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- End Offcanvas header menu -->

</header>
