<main class="main__content_wrapper">

  <!-- Start breadcrumb section -->
  <%= render 'shared/breadcrumb', category: @category, category_name: @category.name %>
  <!-- End breadcrumb section -->

  <!-- Start shop section -->
  <div class="shop__section section--padding">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 shop-col-width-lg-4">
          <div class="shop__sidebar--widget widget__area d-none d-lg-block">
            <%= render 'shared/category/category_filter', { category: @category } %>

            <% if @all_category_products.count > 0 %>
              <%= render 'shared/category/price_filter', { products: @products, category: @category } %>
            <% end %>

            <%#= render 'shared/category/brand_filter', { products: @products } %>

            <%= render 'shared/top_rated_product' %>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 shop-col-width-lg-8">
          <div class="shop__right--sidebar">
            <!-- Start categories section -->
            <div class="categories__shop mb-50">
              <div class="section__heading border-bottom mb-30">
                <h2 class="section__heading--maintitle">Все товары <span>раздела</span></h2>
              </div>
            </div>
            <!-- End categories section -->
            <div class="shop__product--wrapper" id="products_list">
              <div class="tab_content">
                <div id="product_grid" class="tab_pane active show">
                  <div class="product__section--inner">
                    <div class="row mb--n30">
                      <% @products.each do |product| %>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 custom-col mb-30">
                          <%= render 'shared/product_card', { product: product } %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pagination__area">
                <nav class="pagination justify-content-center">
                  <ul class="pagination__wrapper d-flex align-items-center justify-content-center">
                    <%= will_paginate @products, previous_label: t("will_paginate.previous_label"), next_label: t("will_paginate.next_label") %>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End shop section -->

</main>

<!-- Quickview Wrapper -->
<%#= render 'shared/category/quickview' %>
<!-- Quickview Wrapper End -->

<!-- Scroll top bar -->
<button id="scroll__top">
  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/>
  </svg>
</button>