<!-- app/views/restaurants/show.html.erb -->
<% content_for :meta_title, "#{@product.name} #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<%# content_for :meta_image, image_path(@product.photos.first) if @product.photos.any? %>

<main class="main__content_wrapper">
  <!-- Start breadcrumb section -->
  <%= render 'shared/breadcrumb', category: @product.category, category_name: nil %>
  <!-- End breadcrumb section -->

  <!-- Start product details section -->
  <section class="product__details--section section--padding">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-md-2">
        <div class="col">
          <div class="product__details--media">
            <div class="single__product--preview  swiper mb-25">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product__media--preview__items">
                    <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/main-product/product5.webp">
                      <img class="product__media--preview__items--img" src="/assets/product/main-product/product5.webp" alt="product-media-img">
                    </a>
                    <div class="product__media--view__icon">
                      <%# @product.photos.each do |photo| %>
                        <!-- <li class="image-item"><%#= image_tag photo, id: "other-picture" %></li>-->
                      <%# end %>
                      <!-- product/main-product/product5.webp-->
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__media--preview__items">
                    <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/main-product/product6.webp">
                      <img class="product__media--preview__items--img" src="/assets/product/main-product/product6.webp" alt="product-media-img">
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__media--preview__items">
                    <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/product/main-product/product5.webp">
                      <img class="product__media--preview__items--img" src="/assets/product/main-product/product5.webp" alt="product-media-img">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- NAV SLIDER -->
            <div class="single__product--nav swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product__media--nav__items">
                    <img class="product__media--nav__items--img" src="/assets/product/small-product/product1.webp" alt="product-nav-img">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product__media--nav__items">
                    <img class="product__media--nav__items--img" src="/assets/product/small-product/product2.webp" alt="product-nav-img">
                  </div>
                </div>
              </div>
              <div class="swiper__nav--btn swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" -chevron-right">
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
              <div class="swiper__nav--btn swiper-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" -chevron-left">
                  <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
              </div>
            </div>
            <!-- END NAV SLIDER -->

          </div>
        </div>

        <div class="col">
          <div class="product__details--info">
            <form action="#">
              <h2 class="product__details--info__title mb-15">
                <%= @product.name %>
              </h2>
              <div class="product__details--info__price mb-12">
                <span class="current__price">&#x20BD;<%= @product.price %></span>
                <span class="old__price">&#x20BD;<%= @product.price %></span>
              </div>
              <p class="product__details--info__desc mb-15">
                <%= @product.description %>
              </p>
              <div class="product__variant">

<!--                <div id="<%#= dom_id @product %>">-->
                  <%#= form_with(url: cart_add_path) do |f| %>
                    <%#= f.hidden_field :id, value: @product.id %>
                    <%#= f.number_field :quantity, value: 1, min: 1, class: "add-number-field" %>
                    <%#= f.submit "Add To Cart", class: "add-to-cart", id: "add-to-cart-button" %>
                  <%# end %>
<!--                </div>-->

                <div id="<%= dom_id @product %>" class="product__variant--list quantity d-flex align-items-center mb-20">
                  <%= form_with(url: cart_add_path) do |f| %>
                    <%= f.hidden_field :id, value: @product.id %>
                    <div class="quantity__box">
                      <button type="button" class="quantity__value quickview__value--quantity decrease" aria-label="quantity value" value="Decrease Value">-</button>
                      <label>
<!--                        <input type="number" class="quantity__number quickview__value--number" value="1" data-counter/>-->
                        <%= f.number_field :quantity, value: 1, min: 1, class: "quantity__number quickview__value--number" %>
                      </label>
                      <button type="button" class="quantity__value quickview__value--quantity increase" aria-label="quantity value" value="Increase Value">+</button>
                    </div>
                    <%= f.submit "Добавить в корзину", class: "primary__btn quickview__cart--btn add-to-cart", id: "add-to-cart-button" %>
                    <!-- <button class="primary__btn quickview__cart--btn" type="submit">Добавить в корзину</button>-->
                  <% end %>
                </div>

                <div class="product__variant--list mb-15">
                  <div class="product__details--info__meta">
                    <p class="product__details--info__meta--list"><strong>Артикул:</strong>
                      <span><%= @product.article %></span></p>
                    <p class="product__details--info__meta--list"><strong>Поставщик:</strong>
                      <span><%= @product.provider %></span></p>
                    <p class="product__details--info__meta--list"><strong>Кол-во на складе:</strong>
                      <span><%= @product.quantity %></span></p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End product details section -->

  <!-- Start product details tab section -->
  <%= render 'shared/product/description' %>
  <!-- End product details tab section -->

  <%#= render 'shared/popular_products', products: popular_products %>
  <%= render 'shared/popular_products' %>

  <%= render 'shared/shipping' %>
</main>

<script>
    (function () {
        const activeImage = document.querySelector(".product-image-show .active");
        const productImages = document.querySelectorAll(".image-list img");

        function changeImage(e) {
            activeImage.src = e.target.src;
        }

        productImages.forEach(image => image.addEventListener("click", changeImage));
    })();
</script>


<script>
    (function () {
        document.getElementById("add-to-cart-button").addEventListener("click", function () {
            setTimeout(function () {
                location.reload();
            }, 1);
        });
    })();
</script>