<% content_for :meta_title, "#{@product.name}" %>
<% content_for :meta_description, @product.description %>

<main class="main__content_wrapper">
  <!-- Start breadcrumb section -->
  <%= render 'shared/breadcrumb', category: @product.category, category_name: nil %>
  <!-- End breadcrumb section -->

  <!-- Start product details section -->
  <section class="product__details--section section--padding">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-md-2">
        <div class="col">
          <div class="product__details--media">
            <div class="single__product--preview swiper mb-25 swiper-initialized swiper-horizontal swiper-pointer-events">
              <div class="swiper-wrapper">
                <% if @product.photos.attached? %>
                  <% @product.photos.each do |photo| %>
                    <div class="swiper-slide">
                      <div class="product__media--preview__items">
                        <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="<%= polymorphic_url(photo) %>">
                          <%= image_tag photo, class: 'product__media--preview__items--img', alt: "product-media-img"%>
                        </a>
                        <div class="product__media--view__icon">
                          <a class="product__media--view__icon--link glightbox" href="<%= polymorphic_url(photo) %>" data-gallery="product-media-preview">
                            <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                              <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                            </svg>
                            <span class="visually-hidden">просмотр</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="swiper-slide">
                    <div class="product__media--preview__items">
                      <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/empty_img_2.png">
                        <img class="product__media--preview__items--img" src="/assets/empty_img_2.png" alt="product-media-img">
                      </a>
                      <div class="product__media--view__icon">
                        <a class="product__media--view__icon--link glightbox" href="/assets/empty_img_2.png" data-gallery="product-media-preview">
                          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                          <span class="visually-hidden">product view</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="product__media--preview__items">
                      <a class="product__media--preview__items--link glightbox" data-gallery="product-media-preview" href="/assets/empty_img_2.png">
                        <img class="product__media--preview__items--img" src="/assets/empty_img_2.png" alt="product-media-img">
                      </a>
                      <div class="product__media--view__icon">
                        <a class="product__media--view__icon--link glightbox" href="/assets/empty_img_2.png" data-gallery="product-media-preview">
                          <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443" viewBox="0 0 512 512">
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                          </svg>
                          <span class="visually-hidden">product view</span>
                        </a>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="swiper__nav--btn swiper-button-next swiper-button-next_1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" -chevron-right">
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
              <div class="swiper__nav--btn swiper-button-prev swiper-button-prev_1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" -chevron-left">
                  <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
              </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="product__details--info">
            <h2 class="product__details--info__title mb-15">
              <%= @product.name %>
            </h2>
            <div class="product__details--info__price mb-12">
              <% if @product.sale > 0 %>
                <span class="current__price">&#x20BD;<%= @product.price - (@product.price * @product.sale / 100) %></span>
              <% end %>
              <span class="old__price">&#x20BD;<%= @product.price %></span>
            </div>
            <div class="product__variant">
              <div class="product__variant--list mb-15">
                <div class="product__details--info__meta">
                  <p class="product__details--info__meta--list"><strong>Артикул:</strong>
                    <span><%= @product.article %></span></p>
                  <p class="product__details--info__meta--list"><strong>Поставщик:</strong>
                    <span><%= @product.provider %></span></p>
                  <p class="product__details--info__meta--list"><strong>Кол-во на складе:</strong>
                    <span><%= @product.quantity %></span></p>
                </div>
              </div>

              <div id="<%= dom_id @product %>" class="product__variant--list quantity d-flex align-items-center mb-20">
                <%= form_for :cart, url: cart_add_path, method: :post do |f| %>
                  <%= f.hidden_field :product_id, value: @product.id %>
                  <div class="quantity__box">
                    <button type="button" class="quantity__value quickview__value--quantity decrease" aria-label="quantity value" value="Decrease Value">-</button>
                    <label>
                      <input type="number" name="cart[quantity]" id="cart_quantity" class="quantity__number quickview__value--number" value="1" readonly data-counter="" max="<%= @product.quantity %>">
                    </label>
                    <button type="button" class="quantity__value quickview__value--quantity increase" aria-label="quantity value" value="Increase Value">+</button>
                    <button class="primary__btn quickview__cart--btn" id='add-to-cart-button' type="submit">
                      Добавить в корзину
                    </button>
                  </div>
                <% end %>
                <button id="one_click" class="primary__btn quickview__cart--btn btn btn-primary">Купить в один клик</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End product details section -->

  <!-- Modal -->
  <%= render 'shared/product/shop_modal' %>
  <!-- End Modal -->

  <!-- Start product details tab section -->
  <% unless @product.description.blank? %>
    <%= render 'shared/product/description', { desc: @product.description } %>
  <% end %>
  <!-- End product details tab section -->

  <%= render 'shared/popular_products' %>
</main>
